<div class="sidebar">
    <div id="sidedashboard" class="sidebarcompo"><a href="/">Dashboard</a></div> 
    <div id="Assignment" class="sidebarcompo"><a href="/assignments">Assignments</a></div>
    <div id="Assignment" class="sidebarcompo"><a href="/events">Events</a></div>
    <div id="Assignment" class="sidebarcompo"><a href="/expenses">Expenses</a></div>
    <div id="Assignment" class="sidebarcompo"><a href="/courses"> Courses</a></div> 
    <div id="Assignment" class="sidebarcompo"><a href="/commoncalendar">Calendar</a></div> 
</div>