<div class="covering">

    <div class="dashboard">
        <div class="heading">New Event</div>
    </div>
    
    <div class="link"> <a href="/">Dashboard</a> / <a href="/events">Events</a> / New Event</div>
    
    <form action="addevent" method="post" class="assignmentform">

        <div class="details">
           <label for="event">Event :</label>
           <input type="text" class="form-details" id="event" name="event" placeholder="Enter the Event Name"
           required>
        </div>

        <div class="details">
            <label for="startdate">Start Date and Time:</label>
            <input type="datetime-local" class="form-details" id="date" name="startdate" required>
          </div>

         <div class="details">
            <label for="enddate">End Date and Time :</label>
            <input type="datetime-local" class="form-details" id="date" name="enddate" required>
         </div>
    
         <div class="details">
            <button type="submit" class="submit" id="addsubmit"> Add Event</button>
         </div>
    </form>
    
    </div>
    
    