<div class="covering">

    <div class="dashboard">
        <div class="heading">Edit Category Limit</div>
    </div>
    
    <div class="link"> <a href="/">Dashboard</a> / <a href="/expenses/categorylimits">Category Limits</a>/ Edit Category Limit</div>

    

    
    <form action="/expenses/categorylimits/edit/<%=categorylimitdata._id%>?_method=put" method="post" class="assignmentform">
        <div class="details">
           <label for="category">Category :</label>
           <input type="text" class="form-details" id="category" name="category" value="<%= categorylimitdata.category %>" placeholder="Enter The Category Name"
           required>
        </div>
    
        <div class="details">
            <label for="categorylimit">Budget Limit :</label>
            <input type="number" class="form-details" id="categorylimit" name="categorylimit" value="<%= categorylimitdata.categorylimit %>" placeholder="Enter the Budget Limit"
            required>
         </div>
    
         
    
         <div class="details">
            <button type="submit" class="submit" id="updatesubmit"> Update Category Limit  </button>
         </div>
    </form>
    
    </div>
    
    